<h1>
  検索結果
</h1>
<% if @expect_products.length !=0 %>
  <% @expect_products.each do |expect_product| %>
    <td>
    <br>
    <li>
      <%= expect_product.name %>
      <%= expect_product.size %>
      <%= expect_product.status %>
      <%= expect_product.price %>
      <%= expect_product.category.name %>
    </li>
  <% end %>
<% else %>
  該当する商品はありません
<% end %>
  <br>
<%= link_to 'トップ', root_path %>